<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicing until we done</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main w-full h-screen bg-zinc-900">
        <div class="form p-10">
            <form class="text-white">
                <input class="block px-5 py-2 w-full outline-none rounded-md bg-zinc-800" type="text"
                    placeholder="Title Goes Hear....">
                <textarea class="block mt-2 px-5 py-2 w-full outline-none rounded-md bg-zinc-800 resize-none"
                    placeholder="Give about task...."></textarea>
                <input class="mt-2 text-white bg-blue-500 px-2 py-1 rounded-md" type="submit" value="ADD TASK">
            </form>
        </div>
        <div class="cards"></div>
    </div>
</body>

</html>